# --- SERVER CONFIGURATION ---
PORT=
NODE_ENV=development

# --- DATABASE CONFIGURATION (DOCKER) ---
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# --- SECURITY & AUTH ---
# Generate a strong random string for JWT_SECRET
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=